[Unit]
Description=code-server
After=network.target

[Service]
Type=simple
Environment=PASSWORD={{ code_server_password }}
User={{ ansible_user }}
ExecStart=/usr/bin/code-server --bind-addr 0.0.0.0:8080

[Install]
WantedBy=multi-user.target
